{% extends 'main/layout.html'%}
{% block title %}{{ title }}{% endblock %}

{% block container %}
    <div class="container mt-3">
        <h2>Профиль пользователя {{ user_profile }}</h2>
        <hr>
        <div class="row">
            <div class="col-xl-8 сol-sm-12">
                <h3 class="mb-3">Последние дейстрия:</h3>
                 
            <table class="table table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Дата поступления</th>
                        <th scope="col">Стоймасть закупки</th>
                        <th scope="col">Артикул</th>
                        <th scope="col">На складе</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for el in user_item%}
                        <tr>
                            <th>{{el.product.name}}</th>
                            <th>{{el.purchase_date}}</th>
                            <th>{{el.purchase_price}}</th>
                            <th>{{el.product.vendor_code}}</th>
                            <th>{{el.get_current_amount}}</th>
                            
                            <th>
                                {% if el.sold == False %}
                                    <p>поступление</p>
                                {% else %}
                                    <p>отгрузка</p>
                                {% endif %}
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <div class="text-center mt-3">
                    <a class="btn btn-primary my-btn mb-3" href="#">Все посты {{ user_profile }}</a>
                </div>
            </div>
            <div class="col-xl-4 col-sm-12 border border-start border-0">
            <h3 class="mb-3">Информация:</h3>
                <p>
                    <b>Имя пользователя:</b> {{ user_profile }}
                    {% if user_profile.first_name %}
                        <br>
                        <b>Имя:</b> {{ user_profile.first_name }}
                    {% endif %}
                    {% if user_profile.last_name %}
                        <br>
                        <b>Фамилия:</b> {{ user_profile.last_name }}
                    {% endif %}
                </p>
                {% if user_profile == user %}
                    <a class="btn btn-primary my-btn me-1"  
                        href="{% url 'user_app:user_profile_settings' username=user_profile.username %}">Настройки профиля
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}