{% extends 'main/layout.html'%}
{% block title %}{{ title }}{% endblock %}

{% block container %}
<div class="container mt-5">
    <h3 class="mb-3">Последние дейстрия:</h3>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Дата сбыта</th>
                <th scope="col">Стоймасть сбыта</th>
                <th scope="col">Артикул</th>
                <th scope="col">Количество</th>
                
            </tr>
        </thead>
        <tbody>
            {% for el in items %}
            <tr>
                <th><a href="{%  url 'item:sales_item_detail' el.id %} ">{{el.product.name}}</a></th>
                <th>{{el.sales_date}}</th>
                <th>{{el.sales_price}}</th>
                <th>{{el.product.vendor_code}}</th>
                <th>{{el.quantity}}</th>
                
                
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-12">  
        {% include "main/pagination.html" %}  
    </div>    

</div>
{% endblock %}