{% extends 'main/layout.html'%}

{% block title %} ВЕБ-СКЛАД {% endblock %}

{% block container %}
<div class="container mt-5 md-5">
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{form.errors}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
        
    {% endif %}
    <h1>Добавление</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        {{form.name}}<br>
        {{form.description}}<br>
        {{form.vendor_code}}<br>
        {{form.quantity_rack}}<br>
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>

</div>

{% endblock %}