{% extends 'main/layout.html'%}
{% load static %}

{% block title %} ВЕБ-СКЛАД {% endblock %}


{% block container %}
<div class="container mt-5">
   
        {% csrf_token %}
        <h1>Продукты на складе</h1>
        <table class="table table-info table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Описание</th>
                <th scope="col">Стоймасть закупки</th>
                <th scope="col">Артикул</th>
                <th scope="col">Склад</th>
                <th scope="col">На складе</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="table-body">
            {% for el in items%}
            <tr data-item-id="{{ el.id }}">
                <th>{{el.product.name}}</th>
                <th>{{el.product.description}}</th>
                <th>{{el.purchase_price}}</th>
                <th>{{el.product.vendor_code}}</th>
                <th>{{el.get_current_amount}}</th>
                <th>{{el.stock.title}}</th>
                <td><input type="number" name="quantity_{{ el.id }}" min="0" value="0"></td>
                <td><input type="number" name="cost_{{ el.id }}" min="0" step="0.01" value="0.00"></td>
                
            </tr>
            {% endfor%}
            </tbody>
        </table>
        
        <button id="submitData" class="btn btn-primary btn-lg">Выполнить отгрузку</button>
    
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'product/js/script.js' %}"></script>


{% endblock %}