{% extends 'main/layout.html'%}

{% block title %} ВЕБ-СКЛАД {% endblock %}

{% block container %}

    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{form.errors}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
        
    {% endif %}
    <h1>Добавление</h1>
    <br>
    <form method="post">
        {% csrf_token %}

        <div class="row g-3 align-items-center">
            <div class="col-2">
                <label for="inputPassword6" class="col-form-label">Продукт:</label>
            </div>
            <div class="col-3">
                {{form.product}}
            </div>
            <div class="col-3">
                <a href="{% url 'product/add'%}?next={{request.path}}"  type="button" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
                    </svg>
                    Добавить
                  </a>
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-2">
                <label for="inputPassword6" class="col-form-label">Склад:</label>
            </div>
            <div class="col-3">
                {{form.stock}}
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-2">
                <label for="inputPassword6" class="col-form-label">Количество:</label>
            </div>
            <div class="col-3">
                {{form.quantity}}
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-2">
                <label for="inputPassword6" class="col-form-label">Стоймость (BYN):</label>
            </div>
            <div class="col-3">
                {{form.purchase_price}}
            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-2">
                <label for="inputPassword6" class="col-form-label">Дата поступления:</label>
            </div>
            <div class="col-3">
                {{form.purchase_date}}
            </div>
        </div>
      
          
          
        <span>{{error}}</span>
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>



{% endblock %}