{% extends 'main/layout.html'%}
{% load static %}

{% block title %} ВЕБ-СКЛАД {% endblock %}


{% block container %}
<div class="container mt-5">
    <div class="row">
        <div class="col-3">
            
            <form method="get">
                {{ filter.form.as_p }}
                <button type="submit" class="btn btn-outline-secondary">Применить фильтр</button>
            </form>
        </div>
        <div class="col-9">
            {% csrf_token %}
            <h1>Продукты на складе</h1>
            <div class="table-responsive-xxl">
            <table class="table table-info table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Склад</th>
                    <th scope="col">Дата поступления</th>
                    <th scope="col">Артикул</th>
                    <th scope="col">Кол. на складе</th>
                    <th scope="col">Кол. для отгрузки </th>
                    <th scope="col">Стоймасть закупки (BYN)</th>
                    <th scope="col">Стоймость ед. (BYN)</th>
                </tr>
                </thead>
                <tbody id="table-body">
                {% for el in filter.qs%}
                <tr data-item-id="{{ el.id }}">
                    <th>{{el.product.name}}</th>
                    <th>{{el.stock.title}}</th>
                    <th>{{el.purchase_date}}</th>
                    
                    <th>{{el.product.vendor_code}}</th>
                    
                    <th>{{el.get_current_amount}}</th>
                    <td><input type="number"  class="form-control"  name="quantity_{{ el.id }}" min="0" value="0"></td>
                    <th>{{el.purchase_price}}</th>
                    <td >
                        <div class="input-group mb-3">
                            <span class="input-group-text">Br</span>
                            <input type="number" class="form-control"  name="cost_{{ el.id }}" min="0" step="0.01" value="0.00">
                        </div>
                    </td>
                    
                </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
            <div class="row">
                <div class="col-4"><button id="submitData" class="btn btn-primary btn-lg">Выполнить отгрузку</button></div>
                <div class="col-2"><h6>Дата отгрузки:</h6></div>
                <div class="col-3"><input type="date" name="date" class="form-control" id="id_date"></div>
                
                
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'product/js/script.js' %}"></script>


{% endblock %}