{% extends 'main/layout.html'%}
{% load static%}


{% block title %} ВЕБ-СКЛАД {% endblock %}

{% block container %}
{% include 'analytics/navbar.html' %}
<div class="container mt-5">
    <div class="row">
    <div class="col-3">
    
        <form method="get" class="your-form-class">
            {{ filter.form.non_field_errors }}
        
            <div class="mb-3">
                {{ filter.form.purchase_date.label_tag }}
                {{ filter.form.purchase_date }}
            </div>
            <div class="mb-3">
                {{ filter.form.purchase_date__gte.label_tag }}
                {{ filter.form.purchase_date__gte }}
            </div>
            <div class="mb-3">
                {{ filter.form.purchase_date__lte.label_tag }}
                {{ filter.form.purchase_date__lte }}
            </div>
            <div class="mb-3">
                {{ filter.form.stock.label_tag }}
                {{ filter.form.stock }}
            </div>
            <div class="mb-3">
                {{ filter.form.product.label_tag }}
                {{ filter.form.product }}
            </div>
            <div class="mb-3">
                {{ filter.form.vendor_code.label_tag }}
                {{ filter.form.vendor_code }}
            </div>
        
            <button type="submit" class="btn btn-outline-secondary">Применить фильтр</button>
        </form>
    </div>
    <div class="col-9">
        <div id="container_1"></div>
        <div id="container_2"></div>
    </div>

   
    
    
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
 
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
   
<!-- Вставка данных JSON внутри тега <script> -->
    <script>
        var chartsData = {{ charts_data|safe }};
    </script>
    
    <!-- Здесь вы можете использовать переменную chartsData в JavaScript -->
   
    <script src="{% static 'analytics/js/line_chart.js' %}"></script>
{% endblock %}