<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a href="{% url 'view_func'%}"class="nav-link px-2 link-secondary">Статистика поступлений</a></li>
    <li><a href="{% url 'view_sales'%}" class="nav-link px-2 link-body-emphasis">Статистика сбыта</a></li>
    <li><a href="{% url 'view_mixed'%}" class="nav-link px-2 link-body-emphasis">Смешеная статистика</a></li>
    <li><a href="{% url 'demand_forecast'%}" class="nav-link px-2 link-body-emphasis">Прогнозирование спроса</a></li>
  </ul>