{% extends 'main/layout.html'%}
{% load static %}

{% block title %} ВЕБ-СКЛАД {% endblock %}


{% block container %}

    <div class="row">
        <div class="col-3">
            
            <form method="get" class="your-form-class">
                {{ filter.form.non_field_errors }}
            
                <div class="mb-3">
                    {{ filter.form.purchase_date.label_tag }}
                    {{ filter.form.purchase_date }}
                </div>
                <div class="mb-3">
                    {{ filter.form.purchase_date__gte.label_tag }}
                    {{ filter.form.purchase_date__gte }}
                </div>
            
            
                <div class="mb-3">
                    {{ filter.form.purchase_date__lte.label_tag }}
                    {{ filter.form.purchase_date__lte }}
                </div>
            
                <div class="mb-3">
                    {{ filter.form.stock.label_tag }}
                    {{ filter.form.stock }}
                </div>
                <div class="mb-3">
                    {{ filter.form.product.label_tag }}
                    {{ filter.form.product }}
                </div>
            
                <div class="mb-3">
                    {{ filter.form.vendor_code.label_tag }}
                    {{ filter.form.vendor_code }}
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-outline-secondary">Применить фильтр</button>
                    <a href="{% url 'item:upload_qr_code'%}" class="btn btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-qr-code" viewBox="0 0 16 16">
                        <path d="M2 2h2v2H2z"></path>
                        <path d="M6 0v6H0V0zM5 1H1v4h4zM4 12H2v2h2z"></path>
                        <path d="M6 10v6H0v-6zm-5 1v4h4v-4zm11-9h2v2h-2z"></path>
                        <path d="M10 0v6h6V0zm5 1v4h-4V1zM8 1V0h1v2H8v2H7V1zm0 5V4h1v2zM6 8V7h1V6h1v2h1V7h5v1h-4v1H7V8zm0 0v1H2V8H1v1H0V7h3v1zm10 1h-1V7h1zm-1 0h-1v2h2v-1h-1zm-4 0h2v1h-1v1h-1zm2 3v-1h-1v1h-1v1H9v1h3v-2zm0 0h3v1h-2v1h-1zm-4-1v1h1v-2H7v1z"></path>
                        <path d="M7 12h1v3h4v1H7zm9 2v2h-3v-1h2v-1z"></path>
                        </svg>
                    </a>
                </div>
                
            </form>
        </div>
        <div class="col-9">
            {% csrf_token %}
            <h1>Продукты на складе</h1> 
            
            <div class="table-responsive-xxl">
            <table class="table table-info table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Склад</th>
                    <th scope="col">Дата поступления</th>
                    <th scope="col">Артикул</th>
                    <th scope="col">Кол. на складе</th>
                    <th scope="col">Кол. для отгрузки </th>
                    <th scope="col">Стоймасть закупки (BYN)</th>
                    <th scope="col">Стоймость ед. (BYN)</th>
                </tr>
                </thead>
                <tbody id="table-body">
                {% for el in filter.qs %}
                <tr data-item-id="{{ el.id }}">
                    <th>{{el.product.name}}</th>
                    <th>{{el.stock.title}}</th>
                    <th>{{el.purchase_date}}</th>
                    
                    <th>{{el.product.vendor_code}}</th>
                    
                    <th>{{el.get_current_amount}}</th>
                    <td><input type="number"  class="form-control"  name="quantity_{{ el.id }}" min="0" value="0"></td>
                    <th>{{el.purchase_price}}</th>
                    <td >
                        <div class="input-group mb-3">
                            <span class="input-group-text">Br</span>
                            <input type="number" class="form-control"  name="cost_{{ el.id }}" min="0" step="0.01" value="{{ el.purchase_price_str }}">
                        </div>
                    </td>
                    
                </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
            <div class="row">
                <div class="col-4"><button id="submitData" class="btn btn-primary btn-lg">Выполнить отгрузку</button></div>
                <div class="col-2"><h6>Дата отгрузки:</h6></div>
                <div class="col-3"><input type="date" name="date" class="form-control" id="id_date"></div>
                
                
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'product/js/script.js' %}"></script>


{% endblock %}