{% extends 'main/layout.html'%}
{% block title %} about {% endblock %}


{% block container %}
<body>
<div class="intro">
    <h1 >{{title}}</h1>
    <p>Все что нужно — в одной системе:</p>
    <a type="button" class="btn btn-primary me-2" href="{% url 'home'%}">вернутся home</a>
    {% for el in values %}
        <p>{{el}}</p>
        
    {% endfor%}
</div>
<div class="container mt-5 md-5" >
    {% if form.errors %}
      <p>Ваше имя пользователя и пароль не совпали. Пожалуйста, попробуйте еще раз.</p>
    {% endif %}
    
    {% if next %}
      {% if user.is_authenticated %}
        <p>У вашей учетной записи нет доступа к этой странице. Продолжать,
            пожалуйста, войдите в учетную запись, у которой есть доступ.</p>
      {% else %}
        <p>Пожалуйста, войдите, чтобы увидеть эту страницу.</p>
      {% endif %}
    {% endif %}
    
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label class="col-form-label">{{ form.username.label_tag }}</label>
        </div>
        <div class="col-auto">
            {{form.username}}
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label class="col-form-label">{{ form.password.label_tag }}</label>
        </div>
        <div class="col-auto">
            {{form.password}}
        </div>
    </div>
    
    
    <input class="btn btn-success" type="submit" value="Авторизоваться" />
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
    
    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Забытый пароль?</a></p>
    </div>
</body>

<form action="{%  url 'product/delete_item' el.id %}" method="post">
    <!-- Кнопка для открытия модального окна -->
    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#myModal{{el.id}}">
        Удалить
    </button>

    <!-- Модальное окно -->
    <div class="modal fade" id="myModal{{el.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="${el.getProduct().name}"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>
                        <p>Введите количество для удаления  </p>
                        <input type="number"  min="0" max="{{el.get_current_amount}}" value="0" class="form-control" name="quantityDelete"   required>
                        {% csrf_token %}
                    </label>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </div>
            </div>
        </div>
    </div>

</form>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
